extends layout

block content
  #banner.page-header
   .row
      .col-lg-6
         h1=pageHeader.title
           small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item
             h4
               a(href='location-info')=location.name
               small &nbsp;
                 span.glyphicon.glyphicon-star
                 span.glyphicon.glyphicon-star
                 span.glyphicon.glyphicon-star
                 span.glyphicon.glyphicon-star
                 span.glyphicon.glyphicon-star-empty
               span.badge.pull-right.badge-default=location.distance
              p.address=location.address
              p
                each facility in location.facilities
                  span.label.label-success=facility
                  &nbsp;
    .col-xs-12.col-sm-4
      p.lead  Lorem ipsum dolor sit amet, erant veritus dignissim eam an, illud consulatu in usu. Quo ne animal mandamus consectetuer. Dicunt persequeris ne quo, ea duo incorrupte referrentur, cum posse zril persius cu. Pertinax imperdiet persecuti ea nec, ea eam integre molestiae, in movet veritus usu. In eam agam fuisset epicurei, ex persecuti voluptatibus pri, id saepe recteque intellegebat his. Elit vitae at mea, mnesarchum persequeris id sit, vel utinam nusquam ex.Vel iudico omnesque pericula ut. Ea natum legimus has. Sed putant interesset cu, mei adhuc viris solet cu. Sonet quidam ei per. Vim no denique instructior. Nostrud offendit reprimique quo ad.
